*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
    background: gray;
    background-size: cover;
}
.calculator{
    padding: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
    background: rgba(10, 10, 10, 0.5);
}
input{
    width: 320px;
    padding: 24px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 10px 10px 10px rgba(9, 9, 9, 0.4);
    font-size: 65px;
    text-align: right;
    color: #fff;
    border: solid 3px rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
input::placeholder{
color: #fff;

}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    cursor: pointer;
    border:solid rgba(255, 255, 255, 0.2);
    border-radius: 70px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
}
.ac, .del {
    font-size: 22px;
    color: black;
    background: #c6f604;
}
.equalBtn{
    background: #c0f405;
    color: black;
} 
.operatorBtn{
    background:orange;
    color: black;
    font-size: 30px;
}
